server:
  port: 8080

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    hibernate:
      ddl-auto: update

  jwt:
    secret: ${JWT_SECRET}
    token:
      access-expiration-time: 43200000
      refresh-expiration-time: 604800000

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password:
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

payment:
  mock:
    base-url: ${PAYMENT_URL}
    api-secret: ${PAYMENT_SECRET}
    store-id: ${STORE_ID}
---
spring:
  config:
    activate:
      on-profile: "prod"

  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate

  jwt:
    secret: ${JWT_SECRET}

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

payment:
  mock:
    base-url: ${PAYMENT_URL}
    api-secret: ${PAYMENT_SECRET}
    store-id: ${STORE_ID}